.bs-docs-section
  .page-header
    h1#alerts Alerts
  p.lead
    | Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages. For inline dismissal, use the
    a(href='../javascript/#js-alerts') alerts jQuery plugin
    | .
  h2#alerts-examples Examples
  p
    | Wrap any text and an optional dismiss button in
    code .alert
    | and one of the four contextual classes (e.g.,
    code .alert-success
    | ) for basic alert messages.
  .bs-callout.bs-callout-info
    h4 No default class
    p
      | Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so you're required to specify a type via contextual class. Choose from success, info, warning, or danger.
  .bs-example
    .alert.alert-success
      strong Well done!
      | You successfully read this important alert message.
    .alert.alert-info
      strong Heads up!
      | This alert needs your attention, but it's not super important.
    .alert.alert-warning
      strong Warning!
      | Best check yo self, you're not looking too good.
    .alert.alert-danger
      strong Oh snap!
      | Change a few things up and try submitting again.
  .highlight
    pre.
      
  h2#alerts-dismissable Dismissable alerts
  p
    | Build on any alert by adding an optional
    code .alert-dismissable
    | and close button.
  .bs-example
    .alert.alert-dismissable
      button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
      strong Warning!
      | Best check yo self, you're not looking too good.
  .highlight
    pre.
      
  .bs-callout.bs-callout-warning
    h4 Ensure proper behavior across all devices
    p
      | Be sure to use the
      code <button>
      | element with the
      code data-dismiss="alert"
      | data attribute.
  h2#alerts-links Links in alerts
  p
    | Use the
    code .alert-link
    | utility class to quickly provide matching colored links within any alert.
  .bs-example
    .alert.alert-success
      strong Well done!
      | You successfully read
      a.alert-link(href='#') this important alert message
      | .
    .alert.alert-info
      strong Heads up!
      | This
      a.alert-link(href='#') alert needs your attention
      | , but it's not super important.
    .alert.alert-warning
      strong Warning!
      | Best check yo self, you're
      a.alert-link(href='#') not looking too good
      | .
    .alert.alert-danger
      strong Oh snap!
      a.alert-link(href='#') Change a few things up
      | and try submitting again.
  .highlight
    pre.