.bs-docs-section
  .page-header
    h1#btn-dropdowns Button dropdowns
  p.lead
    | Use any button to trigger a dropdown menu by placing it within a
    code .btn-group
    | and providing the proper menu markup.
  .bs-callout.bs-callout-danger
    h4 Plugin dependency
    p
      | Button dropdowns require the
      a(href='../javascript/#dropdowns') dropdown plugin
      | to be included in your version of Bootstrap.
  h3#btn-dropdowns-single Single button dropdowns
  p Turn a button into a dropdown toggle with some basic markup changes.
  .bs-example
    .btn-group
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        | Default
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Primary
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
        | Success
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
        | Info
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
        | Warning
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
        | Danger
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
  .highlight
    pre.
      
  h3#btn-dropdowns-split Split button dropdowns
  p
    | Similarly, create split button dropdowns with the same markup changes, only with a separate button.
  .bs-example
    .btn-group
      button.btn.btn-default(type='button') Default
      button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-primary(type='button') Primary
      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-success(type='button') Success
      button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-info(type='button') Info
      button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-warning(type='button') Warning
      button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
    .btn-group
      button.btn.btn-danger(type='button') Danger
      button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu(role='menu')
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li.divider
        li
          a(href='#') Separated link
    //-
       /btn-group 
  .highlight
    pre.
      
  h3#btn-dropdowns-sizing Sizing
  p Button dropdowns work with buttons of all sizes.
  .bs-example
    .btn-toolbar
      .btn-group
        button.btn.btn-default.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
          | Large button
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider
          li
            a(href='#') Separated link
      //-
         /btn-group 
    //-
       /btn-toolbar 
    .btn-toolbar
      .btn-group
        button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
          | Small button
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider
          li
            a(href='#') Separated link
      //-
         /btn-group 
    //-
       /btn-toolbar 
    .btn-toolbar
      .btn-group
        button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
          | Extra small button
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider
          li
            a(href='#') Separated link
      //-
         /btn-group 
    //-
       /btn-toolbar 
  //-
     /example 
  .highlight
    pre.
      
  h3#btn-dropdowns-dropup Dropup variation
  p
    | Trigger dropdown menus above elements by adding
    code .dropup
    | to the parent.
  .bs-example
    .btn-toolbar
      .btn-group.dropup
        button.btn.btn-default(type='button') Dropup
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
          span.caret
        ul.dropdown-menu(role='menu')
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider
          li
            a(href='#') Separated link
      //-
         /btn-group 
      .btn-group.dropup
        button.btn.btn-primary(type='button') Right dropup
        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
          span.caret
        ul.dropdown-menu.pull-right(role='menu')
          li
            a(href='#') Action
          li
            a(href='#') Another action
          li
            a(href='#') Something else here
          li.divider
          li
            a(href='#') Separated link
      //-
         /btn-group 
  //-
     /example 
  .highlight
    pre.