.bs-docs-section
  .page-header
    h1#labels Labels
  p.lead
  h3 Example
  .bs-example
    h1
      | Example heading
      span.label.label-default New
    h2
      | Example heading
      span.label.label-default New
    h3
      | Example heading
      span.label.label-default New
    h4
      | Example heading
      span.label.label-default New
    h5
      | Example heading
      span.label.label-default New
    h6
      | Example heading
      span.label.label-default New
  .highlight
    pre.
      
  h3 Available variations
  p
    | Add any of the below mentioned modifier classes to change the appearance of a label.
  .bs-example
    span.label.label-default Default
    span.label.label-primary Primary
    span.label.label-success Success
    span.label.label-info Info
    span.label.label-warning Warning
    span.label.label-danger Danger
  .highlight
    pre.