ul.nav.bs-sidenav
  li
    a(href='#glyphicons') Glyphicons
    ul.nav
      li
        a(href='#glyphicons-glyphs') Available glyphs
      li
        a(href='#glyphicons-how-to-use') How to use
      li
        a(href='#glyphicons-examples') Examples
  li
    a(href='#dropdowns') Dropdowns
    ul.nav
      li
        a(href='#dropdowns-example') Example
      li
        a(href='#dropdowns-alignment') Alignment options
      li
        a(href='#dropdowns-headers') Headers
      li
        a(href='#dropdowns-disabled') Disabled menu items
  li
    a(href='#btn-groups') Button groups
    ul.nav
      li
        a(href='#btn-groups-single') Basic example
      li
        a(href='#btn-groups-toolbar') Button toolbar
      li
        a(href='#btn-groups-sizing') Sizing
      li
        a(href='#btn-groups-nested') Nesting
      li
        a(href='#btn-groups-vertical') Vertical variation
      li
        a(href='#btn-groups-justified') Justified link variation
  li
    a(href='#btn-dropdowns') Button dropdowns
    ul.nav
      li
        a(href='#btn-dropdowns-single') Single button dropdowns
      li
        a(href='#btn-dropdowns-split') Split button dropdowns
      li
        a(href='#btn-dropdowns-sizing') Sizing
      li
        a(href='#btn-dropdowns-dropup') Dropup variation
  li
    a(href='#input-groups') Input groups
    ul.nav
      li
        a(href='#input-groups-basic') Basic example
      li
        a(href='#input-groups-sizing') Sizing
      li
        a(href='#input-groups-checkboxes-radios') Checkbox and radios addons
      li
        a(href='#input-groups-buttons') Button addons
      li
        a(href='#input-groups-buttons-dropdowns') Buttons with dropdowns
      li
        a(href='#input-groups-buttons-segmented') Segmented buttons
  li
    a(href='#nav') Navs
    ul.nav
      li
        a(href='#nav-tabs') Tabs
      li
        a(href='#nav-pills') Pills
      li
        a(href='#nav-justified') Justified nav
      li
        a(href='#nav-disabled-links') Disabled links
      li
        a(href='#nav-alignment') Alignment options
      li
        a(href='#nav-dropdowns') Using dropdowns
  li
    a(href='#navbar') Navbar
    ul.nav
      li
        a(href='#navbar-default') Default navbar
      li
        a(href='#navbar-buttons') Buttons
      li
        a(href='#navbar-text') Text
      li
        a(href='#navbar-links') Non-nav links
      li
        a(href='#navbar-component-alignment') Component alignment
      li
        a(href='#navbar-fixed-top') Fixed to top
      li
        a(href='#navbar-fixed-bottom') Fixed to bottom
      li
        a(href='#navbar-static-top') Static top
      li
        a(href='#navbar-inverted') Inverted navbar
  li
    a(href='#breadcrumbs') Breadcrumbs
  li
    a(href='#pagination') Pagination
    ul.nav
      li
        a(href='#pagination-default') Default pagination
      li
        a(href='#pagination-pager') Pager
  li
    a(href='#labels') Labels
  li
    a(href='#badges') Badges
  li
    a(href='#jumbotron') Jumbotron
  li
    a(href='#page-header') Page header
  li
    a(href='#thumbnails') Thumbnails
    ul.nav
      li
        a(href='#thumbnails-default') Default example
      li
        a(href='#thumbnails-custom-content') Custom content
  li
    a(href='#alerts') Alerts
    ul.nav
      li
        a(href='#alerts-examples') Examples
      li
        a(href='#alerts-dismissable') Dismissable alerts
      li
        a(href='#alerts-links') Links in alerts
  li
    a(href='#progress') Progress bars
    ul.nav
      li
        a(href='#progress-basic') Basic example
      li
        a(href='#progress-alternatives') Contextual alternatives
      li
        a(href='#progress-striped') Striped
      li
        a(href='#progress-animated') Animated
      li
        a(href='#progress-stacked') Stacked
  li
    a(href='#media') Media object
    ul.nav
      li
        a(href='#media-default') Default media
      li
        a(href='#media-list') Media list
  li
    a(href='#list-group') List group
    ul.nav
      li
        a(href='#list-group-basic') Basic example
      li
        a(href='#list-group-badges') Badges
      li
        a(href='#list-group-linked') Linked items
      li
        a(href='#list-group-custom-content') Custom content
  li
    a(href='#panels') Panels
    ul.nav
      li
        a(href='#panels-basic') Basic example
      li
        a(href='#panels-heading') Panel with heading
      li
        a(href='#panels-alternatives') Contextual alternatives
      li
        a(href='#panels-tables') With tables
        li
          a(href='#panels-list-group') With list groups
  li
    a(href='#wells') Wells