.bs-docs-section
  .page-header
    h1#thumbnails Thumbnails
  p.lead
    | Extend Bootstrap's
    a(href='../css/#grid') grid system
    | with the thumbnail component to easily display grids of images, videos, text, and more.
  h3#thumbnails-default Default example
  p
    | By default, Bootstrap's thumbnails are designed to showcase linked images with minimal required markup.
  .bs-example
    .row
      .col-sm-6.col-md-3
        a.thumbnail(href='#')
          img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
      .col-sm-6.col-md-3
        a.thumbnail(href='#')
          img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
      .col-sm-6.col-md-3
        a.thumbnail(href='#')
          img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
      .col-sm-6.col-md-3
        a.thumbnail(href='#')
          img(data-src='holder.js/100%x180', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
  //-
     /.bs-example 
  .highlight
    pre.
      
  h3#thumbnails-custom-content Custom content
  p
    | With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.
  .bs-example
    .row
      .col-sm-6.col-md-3
        .thumbnail
          img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
          .caption
            h3 Thumbnail label
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-primary(href='#') Button
              a.btn.btn-default(href='#') Button
      .col-sm-6.col-md-3
        .thumbnail
          img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
          .caption
            h3 Thumbnail label
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-primary(href='#') Button
              a.btn.btn-default(href='#') Button
      .col-sm-6.col-md-3
        .thumbnail
          img(data-src='holder.js/300x200', alt='Generic placeholder thumbnail', src='data:image/png;base64,')
          .caption
            h3 Thumbnail label
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-primary(href='#') Button
              a.btn.btn-default(href='#') Button
  //-
     /.bs-example 
  .highlight
    pre.