.bs-docs-section
  .page-header
    h1#wells Wells
  h3 Default well
  p Use the well as a simple effect on an element to give it an inset effect.
  .bs-example
    .well
      | Look, I'm in a well!
  .highlight
    pre.
      
  h3 Optional classes
  p Control padding and rounded corners with two optional modifier classes.
  .bs-example
    .well.well-lg
      | Look, I'm in a large well!
  .highlight
    pre.
      
  .bs-example
    .well.well-sm
      | Look, I'm in a small well!
  .highlight
    pre.